<div class="container"  >
  <h1>Trainer 2</h1>

  <span>All answer {{allAnswer}}</span>
  <span>All right {{allRight}}</span>
  <span>All wrong {{allWrong}}</span>
  <span>All skip {{allSkip}}</span><br/>

  <div>
    <span>{{a}} {{arrSign[n]}}  {{b}} =  {{answerUser}}</span>
  </div>

  <input #aInput type="text" [ngModel]="answerUser" (ngModelChange)="checkedAnswer($event)">

  <button (click)="nextHandler()">next skip space +</button>
  <button (click)="hideHandler()">hide enter</button>

  <span> {{message}} </span>
  <br/>
  <span *ngIf="answerVisible"> {{answerRight}} </span>

</div>
